apps/form-backend/src/assets/schema/ezlynxhomeV200.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ezlynx.com/XMLSchema/Home/V200" elementFormDefault="qualified"
	attributeFormDefault="unqualified" targetNamespace="http://www.ezlynx.com/XMLSchema/Home/V200" version="2.0.0">
  <xsd:simpleType name="NamePrefixType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MR" />
      <xsd:enumeration value="MRS" />
      <xsd:enumeration value="MISS" />
      <xsd:enumeration value="MS" />
      <xsd:enumeration value="DR" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NameSuffixType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="JR" />
      <xsd:enumeration value="SR" />
      <xsd:enumeration value="I" />
      <xsd:enumeration value="II" />
      <xsd:enumeration value="III" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NameType">
    <xsd:all>
      <xsd:element name="Prefix" type="NamePrefixType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="FirstName" type="ProperName" minOccurs="0" />
      <xsd:element name="MiddleName" type="MiddleInitial" minOccurs="0" />
      <xsd:element name="LastName" type="ProperName" minOccurs="0" />
      <xsd:element name="Suffix" type="NameSuffixType" minOccurs="0" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>
  <xsd:simpleType name="SSNType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{9}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Zip5Type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{5}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Zip4Type">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="\d{4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="int100Type">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:minInclusive value="0"/>
      <xsd:maxInclusive value="100"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="int20EnumType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0" />
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
      <xsd:enumeration value="7" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="9" />
      <xsd:enumeration value="10" />
      <xsd:enumeration value="11" />
      <xsd:enumeration value="12" />
      <xsd:enumeration value="13" />
      <xsd:enumeration value="14" />
      <xsd:enumeration value="15" />
      <xsd:enumeration value="16" />
      <xsd:enumeration value="17" />
      <xsd:enumeration value="18" />
      <xsd:enumeration value="19" />
      <xsd:enumeration value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PositiveInteger20EnumType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
      <xsd:enumeration value="7" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="9" />
      <xsd:enumeration value="10" />
      <xsd:enumeration value="11" />
      <xsd:enumeration value="12" />
      <xsd:enumeration value="13" />
      <xsd:enumeration value="14" />
      <xsd:enumeration value="15" />
      <xsd:enumeration value="16" />
      <xsd:enumeration value="17" />
      <xsd:enumeration value="18" />
      <xsd:enumeration value="19" />
      <xsd:enumeration value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DateType">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="BooleanType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Yes" />
      <xsd:enumeration value="No" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaritalStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Single"/>
      <xsd:enumeration value="Married"/>
      <xsd:enumeration value="Domestic Partner"/>
      <xsd:enumeration value="Widowed"/>
      <xsd:enumeration value="Separated"/>
      <xsd:enumeration value="Divorced"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OccupationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Self-Employed"/>
      <xsd:enumeration value="Employed"/>
      <xsd:enumeration value="Unemployed"/>
      <xsd:enumeration value="Homemaker"/>
      <xsd:enumeration value="Retired"/>
      <xsd:enumeration value="Student"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GenderType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Male" />
      <xsd:enumeration value="Female" />
      <xsd:enumeration value="X - Not Specified" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RelationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Child"/>
      <xsd:enumeration value="Domestic Partner"/>
      <xsd:enumeration value="Employee"/>
      <xsd:enumeration value="Insured"/>
      <xsd:enumeration value="Other"/>
      <xsd:enumeration value="Parent"/>
      <xsd:enumeration value="Relative"/>
      <xsd:enumeration value="Spouse"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EducationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="No High School Diploma" />
      <xsd:enumeration value="High School Diploma" />
      <xsd:enumeration value="Some College - No Degree" />
      <xsd:enumeration value="Vocational/Technical Degree" />
      <xsd:enumeration value="Associates Degree" />
      <xsd:enumeration value="Bachelors" />
      <xsd:enumeration value="Masters" />
      <xsd:enumeration value="Phd" />
      <xsd:enumeration value="Medical Degree" />
      <xsd:enumeration value="Law Degree" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PersonalInfoType">
    <xsd:sequence>
      <xsd:element name="Name" type="NameType" />
      <xsd:element name="DOB" type="DateType" />
      <xsd:element name="SSN" type="SSNType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Gender" type="GenderType"/>
      <xsd:element name="MaritalStatus" type="MaritalStatusType"/>
      <xsd:element name="Relation" type="RelationType"/>
      <xsd:element name="Industry" type="xsd:string" />
      <xsd:element name="Occupation" type="xsd:string" />
      <xsd:element name="YearsWithEmployer" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="YearsWithPreviousEmployer" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Education" type="EducationType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="MaidenName" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="NickName" type="xsd:string" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AddressCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BillingAddress" />
      <xsd:enumeration value="InsuredsAddress" />
      <xsd:enumeration value="LegalAddr" />
      <xsd:enumeration value="MailingAddress" />
      <xsd:enumeration value="PhysicalRisk" />
      <xsd:enumeration value="PreviousAddress" />
      <xsd:enumeration value="StreetAddress" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="C-10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
      <xsd:minLength value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="C-10_NoBlank">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="C-50">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
      <xsd:minLength value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="C-50_NoBlank">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="C-255">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255" />
      <xsd:minLength value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="C-255_NoBlank">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="255" />
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ProperName">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^[A-Za-z]{1}[\-' A-Za-z]*$" />
      <xsd:maxLength value="64" />
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MiddleInitial">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="^[A-Za-z]?$" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StateCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AK"/>
      <xsd:enumeration value="AL"/>
      <xsd:enumeration value="AR"/>
      <xsd:enumeration value="AZ"/>
      <xsd:enumeration value="CA"/>
      <xsd:enumeration value="CO"/>
      <xsd:enumeration value="CT"/>
      <xsd:enumeration value="DC"/>
      <xsd:enumeration value="DE"/>
      <xsd:enumeration value="FL"/>
      <xsd:enumeration value="GA"/>
      <xsd:enumeration value="HI"/>
      <xsd:enumeration value="IA"/>
      <xsd:enumeration value="ID"/>
      <xsd:enumeration value="IL"/>
      <xsd:enumeration value="IN"/>
      <xsd:enumeration value="KS"/>
      <xsd:enumeration value="KY"/>
      <xsd:enumeration value="LA"/>
      <xsd:enumeration value="MA"/>
      <xsd:enumeration value="MD"/>
      <xsd:enumeration value="ME"/>
      <xsd:enumeration value="MI"/>
      <xsd:enumeration value="MN"/>
      <xsd:enumeration value="MO"/>
      <xsd:enumeration value="MS"/>
      <xsd:enumeration value="MT"/>
      <xsd:enumeration value="NC"/>
      <xsd:enumeration value="ND"/>
      <xsd:enumeration value="NE"/>
      <xsd:enumeration value="NH"/>
      <xsd:enumeration value="NJ"/>
      <xsd:enumeration value="NM"/>
      <xsd:enumeration value="NV"/>
      <xsd:enumeration value="NY"/>
      <xsd:enumeration value="OH"/>
      <xsd:enumeration value="OK"/>
      <xsd:enumeration value="OR"/>
      <xsd:enumeration value="PA"/>
      <xsd:enumeration value="RI"/>
      <xsd:enumeration value="SC"/>
      <xsd:enumeration value="SD"/>
      <xsd:enumeration value="TN"/>
      <xsd:enumeration value="TX"/>
      <xsd:enumeration value="UT"/>
      <xsd:enumeration value="VA"/>
      <xsd:enumeration value="VT"/>
      <xsd:enumeration value="WA"/>
      <xsd:enumeration value="WI"/>
      <xsd:enumeration value="WV"/>
      <xsd:enumeration value="WY"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DetailAddrType">
    <xsd:sequence>
      <xsd:element name="StreetName" type="C-255_NoBlank" minOccurs="0" maxOccurs="1" />
      <xsd:element name="StreetNumber" type="C-50" minOccurs="0" maxOccurs="1" />
      <xsd:element name="UnitNumber" type="C-50" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="PhoneTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Home" />
      <xsd:enumeration value="Work" />
      <xsd:enumeration value="Mobile" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PhoneNumberTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Cell" />
      <xsd:enumeration value="Fax" />
      <xsd:enumeration value="Marine" />
      <xsd:enumeration value="Pager" />
      <xsd:enumeration value="Phone" />
      <xsd:enumeration value="TTY" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PhoneNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[1-9]{1}[0-9]{2}[1-9]{1}[0-9]{2}[0-9]{4}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PhoneType">
    <xsd:sequence>
      <xsd:element name="PhoneType" type="PhoneTypeType" />
      <xsd:element name="PhoneNumberType" type="PhoneNumberTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PhoneNumber" type="PhoneNumberType" />
      <xsd:element name="Extension" type="C-10" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
    <!-- <xsd:attribute name="id" type="xsd:ID" use="optional" /> -->
  </xsd:complexType>

  <xsd:simpleType name="YearsAtAddressType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="6 months or less"/>
      <xsd:enumeration value="6-12 months"/>
      <xsd:enumeration value="1"/>
      <xsd:enumeration value="2"/>
      <xsd:enumeration value="3"/>
      <xsd:enumeration value="4"/>
      <xsd:enumeration value="5"/>
      <xsd:enumeration value="6"/>
      <xsd:enumeration value="7"/>
      <xsd:enumeration value="8"/>
      <xsd:enumeration value="9"/>
      <xsd:enumeration value="10"/>
      <xsd:enumeration value="More than 10"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
      <xsd:minLength value="0" />
      <xsd:pattern value="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PreferredContactMethodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Phone (Home)" />
      <xsd:enumeration value="Phone (Work)" />
      <xsd:enumeration value="Phone (Mobile)" />
      <xsd:enumeration value="Email" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PreferredContactTimeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Morning" />
      <xsd:enumeration value="Afternoon" />
      <xsd:enumeration value="Evening" />
      <xsd:enumeration value="Anytime" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="AddressCode" type="AddressCodeType" />
      <xsd:element name="Addr1" type="DetailAddrType" />
      <xsd:element name="Addr2" type="C-255" />
      <xsd:element name="City" type="C-50_NoBlank" />
      <xsd:element name="StateCode" type="StateCodeType" />
      <xsd:element name="County" type="C-50_NoBlank"/>
      <xsd:element name="Zip5" type="Zip5Type" />
      <xsd:element name="Zip4" type="Zip4Type" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Phone" type="PhoneType" minOccurs="0" maxOccurs="5" />
      <xsd:element name="Email" type="EmailType" minOccurs="0" maxOccurs="2" />
      <xsd:element name="PreferredContactMethod" type="PreferredContactMethodType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PreferredContactTime" type="PreferredContactTimeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="YearsAtAddress" type="YearsAtAddressType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Validation" type="AddressValidationType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>


  <xsd:simpleType name="AddressValidationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="None"/>
      <xsd:enumeration value="Valid"/>
      <xsd:enumeration value="Invalid"/>
      <xsd:enumeration value="NonDeliverable"/>
      <xsd:enumeration value="MultipleMatches"/>
      <xsd:enumeration value="Disabled"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="SimpleAddressType">
    <xsd:sequence>
      <xsd:element name="AddressCode" type="AddressCodeType" />
      <xsd:element name="Addr1" type="DetailAddrType" />
      <xsd:element name="Addr2" type="C-255" />
      <xsd:element name="City" type="C-50_NoBlank" />
      <xsd:element name="StateCode" type="StateCodeType" />
      <xsd:element name="County" type="C-50_NoBlank"/>
      <xsd:element name="Zip5" type="Zip5Type" />
      <xsd:element name="Zip4" type="Zip4Type" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Validation" type="AddressValidationType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="ApplicantTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Applicant" />
      <xsd:enumeration value="CoApplicant" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ApplicantType">
    <xsd:sequence>
      <xsd:element name="ApplicantType" type="ApplicantTypeType" />
      <xsd:element name="PersonalInfo" type="PersonalInfoType" />
      <xsd:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="PolicyTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="HO3" />
      <!-- label reads 'HO3 - Dwelling' -->
      <xsd:enumeration value="HO4" />
      <!-- label reads 'HO4 - Renters' -->
      <xsd:enumeration value="HO5" />
      <!-- label reads 'HO5' -->
      <xsd:enumeration value="HO6" />
      <!-- label reads 'HO6 - Condo' -->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PolicyTermType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="12 Month"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ReasonNoPriorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="First Time Homeowner" />
      <xsd:enumeration value="Has Been Renting" />
      <xsd:enumeration value="Prior Ins Through Parent/Spouse/Other" />
      <xsd:enumeration value="Could Not Obtain Prior Insurance" />
      <xsd:enumeration value="Did Not Insure (Self-Insured)" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PriorCarrierType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Other Standard" />
      <xsd:enumeration value="Other Non-Standard" />
      <xsd:enumeration value="No Prior Insurance" />
      <xsd:enumeration value="21st Century" />
      <xsd:enumeration value="AAA" />
      <xsd:enumeration value="AAANCNU" />
      <xsd:enumeration value="AARP" />      
      <xsd:enumeration value="Acuity" />
      <xsd:enumeration value="Adirondack Ins Exchange" />
      <xsd:enumeration value="Aegis" />
      <xsd:enumeration value="AIG" />
      <xsd:enumeration value="Alfa Alliance" />
      <xsd:enumeration value="Allianz of America" />
      <xsd:enumeration value="Allianz of America-Jefferson" />
      <xsd:enumeration value="Allied" />
      <xsd:enumeration value="Allied Trust" />
      <xsd:enumeration value="Allmerica" />
      <xsd:enumeration value="Allstate" />
      <xsd:enumeration value="America First" />
      <xsd:enumeration value="American Commerce" />
      <xsd:enumeration value="American Family" />
      <xsd:enumeration value="American Freedom Insurance Company" />
      <xsd:enumeration value="American Traditions" />
      <xsd:enumeration value="Amica" />
      <xsd:enumeration value="Anchor Insurance" />
      <xsd:enumeration value="ASI Lloyds" />
      <xsd:enumeration value="Atlantic Mutual" />
      <xsd:enumeration value="Atlas General Agency" />
      <xsd:enumeration value="Austin Mutual" />
      <xsd:enumeration value="Auto-Owners" />
      <xsd:enumeration value="Badger Mutual" />
      <xsd:enumeration value="Balboa" />
      <xsd:enumeration value="Bankers" />
      <xsd:enumeration value="Beacon National" />
      <xsd:enumeration value="Bear River Mutual" />
      <xsd:enumeration value="Bunker Hill" />
      <xsd:enumeration value="California Casualty" />
      <xsd:enumeration value="Capital Insurance Group" />
      <xsd:enumeration value="Capitol Preferred" />
      <xsd:enumeration value="Central Mutual of OH" />
      <xsd:enumeration value="Celina" />
      <xsd:enumeration value="Centauri" />
      <xsd:enumeration value="Chubb" />
      <xsd:enumeration value="Cincinnati" />
      <xsd:enumeration value="Citizens" />
      <xsd:enumeration value="CNA" />
      <xsd:enumeration value="Colorado Casualty" />
      <xsd:enumeration value="CSE" />
      <xsd:enumeration value="Cumberland" />
      <xsd:enumeration value="Cypress" />
      <xsd:enumeration value="Dairyland" />
      <xsd:enumeration value="Delta Lloyds Insurance Company" />
      <xsd:enumeration value="Donegal" />
      <xsd:enumeration value="Electric" />
      <xsd:enumeration value="EMC" />
      <xsd:enumeration value="Encompass" />
      <xsd:enumeration value="Erie" />
      <xsd:enumeration value="Esurance" />
      <xsd:enumeration value="Excelsior Insurance Company" />
      <xsd:enumeration value="Fair Plan" />
      <xsd:enumeration value="Farm Bureau" />
      <xsd:enumeration value="Farmers" />
      <xsd:enumeration value="Flagship Insurance" />
      <xsd:enumeration value="Fidelity" />
      <xsd:enumeration value="Firemans Fund" />
      <xsd:enumeration value="First American" />
      <xsd:enumeration value="Florida Family" />
      <xsd:enumeration value="Florida Peninsula" />
      <xsd:enumeration value="Geico" />
      <xsd:enumeration value="General Casualty" />
      <xsd:enumeration value="Germantown Mutual" />
      <xsd:enumeration value="GMAC" />
      <xsd:enumeration value="Goodville Mutual" />
      <xsd:enumeration value="Grange" />
      <xsd:enumeration value="Great American" />
      <xsd:enumeration value="GRE/Go America" />
      <xsd:enumeration value="Grinnell" />
      <xsd:enumeration value="Guide One" />
      <xsd:enumeration value="GulfStream" />
      <xsd:enumeration value="Hallmark Insurance Company" />
      <xsd:enumeration value="Hanover" />
      <xsd:enumeration value="Harleysville" />
      <xsd:enumeration value="Hartford" />
      <xsd:enumeration value="Hartford OMNI" />
      <xsd:enumeration value="Hawkeye Security" />
      <xsd:enumeration value="Heritage P/C" />
      <xsd:enumeration value="Homeowners of America" /> 
      <xsd:enumeration value="Horace Mann" />
      <xsd:enumeration value="Houston General" />
      <xsd:enumeration value="Integon" />
      <xsd:enumeration value="Indiana" />
      <xsd:enumeration value="Indiana Farmers" />
      <xsd:enumeration value="Integrity" />
      <xsd:enumeration value="Kemper" />
      <xsd:enumeration value="Liberty Mutual" />
      <xsd:enumeration value="Liberty Northwest" />
      <xsd:enumeration value="LightHouse" />
      <xsd:enumeration value="Lloyds" />
      <xsd:enumeration value="Main Street America" />
      <xsd:enumeration value="Merchants Group" />
      <xsd:enumeration value="Mercury" />
      <xsd:enumeration value="MetLife" />
      <xsd:enumeration value="Midwestern Indemnity" />
      <xsd:enumeration value="Modern USA" />
      <xsd:enumeration value="Montgomery" />
      <xsd:enumeration value="Motorists Mutual" />
      <xsd:enumeration value="MSA" />
      <xsd:enumeration value="Mutual Benefit" />
      <xsd:enumeration value="Mutual of Enumclaw" />
      <xsd:enumeration value="National Lloyds Insurance Company" />
      <xsd:enumeration value="Nationwide" />
      <xsd:enumeration value="Nationwide-Scottsdale" />
      <xsd:enumeration value="New York Central Mutual" />
      <xsd:enumeration value="NJ Skylands" />
      <xsd:enumeration value="Northstar" />
      <xsd:enumeration value="Ohio Casualty" />
      <xsd:enumeration value="Omaha P/C" />
      <xsd:enumeration value="One Beacon" />
      <xsd:enumeration value="Oregon Mutual" />
      <xsd:enumeration value="Peerless/Montgomery" />
      <xsd:enumeration value="Pekin" />
      <xsd:enumeration value="Penn National" />
      <xsd:enumeration value="Plymouth Rock" />
      <xsd:enumeration value="Preferred Mutual" />
      <xsd:enumeration value="Progressive" />
      <xsd:enumeration value="Prudential" />
      <xsd:enumeration value="Republic" />
      <xsd:enumeration value="Royal and Sun Alliance" />
      <xsd:enumeration value="Safeco" />
      <xsd:enumeration value="SECURA" />
      <xsd:enumeration value="Selective" />
      <xsd:enumeration value="Shelter Insurance" />
      <xsd:enumeration value="Southern Fidelity" />
      <xsd:enumeration value="Southern Fidelity P/C" />
      <xsd:enumeration value="Southern Mutual" />
      <xsd:enumeration value="Southern Trust" />
      <xsd:enumeration value="St. Johns" />
      <xsd:enumeration value="St. Paul/Travelers" />
      <xsd:enumeration value="Standard Mutual" />
      <xsd:enumeration value="State Auto" />
      <xsd:enumeration value="State Farm" />
      <xsd:enumeration value="Titan" />
      <xsd:enumeration value="Tower" />
      <xsd:enumeration value="Towerhill" />
      <xsd:enumeration value="Travelers" />
      <xsd:enumeration value="TWFG" />
      <xsd:enumeration value="Unigard" />
      <xsd:enumeration value="United Fire and Casualty" />
      <xsd:enumeration value="Unitrin" />
      <xsd:enumeration value="Universal" />
      <xsd:enumeration value="UPCIC" />
      <xsd:enumeration value="USAA" />
      <xsd:enumeration value="Utica National" />
      <xsd:enumeration value="Vermont Mutual" />
      <xsd:enumeration value="Wellington Select" />
      <xsd:enumeration value="Wellington Standard" />
      <xsd:enumeration value="West Bend" />  
      <xsd:enumeration value="Western National" />
      <xsd:enumeration value="Western Reserve Group" />
      <xsd:enumeration value="Westfield" />
      <xsd:enumeration value="White Mountains" />
      <xsd:enumeration value="Wilson Mutual" />
      <xsd:enumeration value="Windsor" />
      <xsd:enumeration value="Zurich" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PriorPolicyInfoType">
    <xsd:sequence>
      <xsd:element name="PriorCarrier" type="PriorCarrierType" />
      <xsd:element name="Expiration" type="DateType" />
      <xsd:element name="YearsWithPriorCarrier" type="DurationType" />
      <xsd:element name="YearsWithContinuousCoverage" type="DurationType" />
      <xsd:element name="ReasonNoPrior" type="ReasonNoPriorType" minOccurs="0" maxOccurs="1" />
      <!-- Required when No Prior Ins is selected -->
      <xsd:element name="PriorPolicyPremium" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PolicyInfoType">
    <!-- Current quote information -->
    <xsd:sequence>
      <xsd:element name="PolicyTerm" type="PolicyTermType" />
      <xsd:element name="PolicyType" type="PolicyTypeType" />
      <xsd:element name="Package" type="BooleanType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Effective" type="DateType" />
      <xsd:element name="CreditCheckAuth" type="BooleanType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="DurationYearsType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0" />
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
      <xsd:enumeration value="7" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="9" />
      <xsd:enumeration value="10" />
      <xsd:enumeration value="11" />
      <xsd:enumeration value="12" />
      <xsd:enumeration value="13" />
      <xsd:enumeration value="14" />
      <xsd:enumeration value="15" />
      <xsd:enumeration value="More than 15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DurationMonthsType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0" />
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
      <xsd:enumeration value="7" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="9" />
      <xsd:enumeration value="10" />
      <xsd:enumeration value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="DurationType">
    <xsd:sequence>
      <xsd:element name="Years" type="DurationYearsType" />
      <xsd:element name="Months" type="DurationMonthsType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="OccupiedByType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Owner" />
      <xsd:enumeration value="Tenant" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DistanceType">
    <xsd:restriction base="xsd:positiveInteger" />
  </xsd:simpleType>

  <xsd:simpleType name="HydrantDistanceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1-500" />
      <xsd:enumeration value="501-600" />
      <xsd:enumeration value="601-1000" />
      <xsd:enumeration value="1001 and Greater" />
      <!-- 1001 and Greater is no longer shown in the UI as of release 2.4
      any value that comes in as 1001 and Greater will be mapped to 1001-1100 -->
      <xsd:enumeration value="1001-1100" />
      <xsd:enumeration value="1101-1200" />
      <xsd:enumeration value="1201-1300" />
      <xsd:enumeration value="1301-1400" />
      <xsd:enumeration value="1401-1500" />
      <xsd:enumeration value="1501 and Greater" />
      <xsd:enumeration value="None in Area" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ConstructionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Adobe" />
      <xsd:enumeration value="Aluminum/Vinyl" />
      <xsd:enumeration value="Barn Plank" />
      <xsd:enumeration value="Brick" />
      <xsd:enumeration value="Brick on Block" />
      <xsd:enumeration value="Brick on Block, Custom" />	  
      <xsd:enumeration value="Brick Veneer" />
      <xsd:enumeration value="Brick Veneer, Custom" />	  	  
	  <xsd:enumeration value="Cement Fiber Shingles" />  
	  <xsd:enumeration value="Clapboard" />  	  
	  <xsd:enumeration value="Concrete Decorative Block, Painted" />  	  
	  <xsd:enumeration value="Exterior Insulation and Finish System (EIFS)" />  	  
	  <xsd:enumeration value="Fire Resistant" />
      <xsd:enumeration value="Frame" />
	  <xsd:enumeration value="Logs" />
	  <xsd:enumeration value="Poured Concrete" />
	  <xsd:enumeration value="Siding, Aluminum" />
	  <xsd:enumeration value="Siding, Hardboard" />
	  <xsd:enumeration value="Siding, Plywood" />
	  <xsd:enumeration value="Siding, Steel" />
	  <xsd:enumeration value="Siding, T-111" />
	  <xsd:enumeration value="Siding, Vinyl" />
	  <xsd:enumeration value="Siding, Wood" />
	  <xsd:enumeration value="Slump Block" />
	  <xsd:enumeration value="Solid Brick" />
	  <xsd:enumeration value="Solid Brick, Custom" />
	  <xsd:enumeration value="Solid Brownstone" />
	  <xsd:enumeration value="Solid Stone" />
	  <xsd:enumeration value="Solid Stone, Custom" />
	  <xsd:enumeration value="Stone on Block" />
	  <xsd:enumeration value="Stone on Block, Custom Stone" />
	  <xsd:enumeration value="Stone Veneer" />
	  <xsd:enumeration value="Stone Veneer, Custom" />
      <xsd:enumeration value="Stucco" />
	  <xsd:enumeration value="Stucco on Block" />
	  <xsd:enumeration value="Stucco on Frame" />
	  <xsd:enumeration value="Victorian Scalloped Shakes" />
	  <xsd:enumeration value="Window Wall" />
	  <xsd:enumeration value="Wood Shakes" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="StructureType">
      <xsd:restriction base="xsd:string">
	  <xsd:enumeration value="Apartment" />
	  <xsd:enumeration value="Backsplit" />
	  <xsd:enumeration value="Bi-Level" />
	  <xsd:enumeration value="Bi-Level/Row Center" />
	  <xsd:enumeration value="Bi-Level/Row End" />
	  <xsd:enumeration value="Bungalow" />
	  <xsd:enumeration value="Cape Cod" />
	  <xsd:enumeration value="Colonial" />
      <xsd:enumeration value="Condo" />	  
      <xsd:enumeration value="Coop" />	  
	  <xsd:enumeration value="Contemporary" />
	  <xsd:enumeration value="Cottage" />
      <xsd:enumeration value="Dwelling" />	  
	  <xsd:enumeration value="Federal Colonial" />
	  <xsd:enumeration value="Mediterranean" />
	  <xsd:enumeration value="Ornate Victorian" />
	  <xsd:enumeration value="Queen Anne" />
	  <xsd:enumeration value="Raised Ranch" />
	  <xsd:enumeration value="Rambler" />
	  <xsd:enumeration value="Ranch" />
      <xsd:enumeration value="Rowhouse" />
      <xsd:enumeration value="Rowhouse Center" />
      <xsd:enumeration value="Rowhouse End" />
	  <xsd:enumeration value="Southwest Adobe" />
	  <xsd:enumeration value="Split Foyer" />
	  <xsd:enumeration value="Split Level" />
	  <xsd:enumeration value="Substandard" />
	  <xsd:enumeration value="Townhouse" />	  
      <xsd:enumeration value="Townhouse Center" />
	  <xsd:enumeration value="Townhouse End" />
	  <xsd:enumeration value="Tri-Level" />
	  <xsd:enumeration value="Tri-Level Center" />
	  <xsd:enumeration value="Victorian" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="UseageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Primary" />
      <xsd:enumeration value="Secondary" />
      <xsd:enumeration value="Seasonal" />
      <xsd:enumeration value="Farm" />
      <xsd:enumeration value="Unoccupied" />
      <xsd:enumeration value="Vacant" />
      <xsd:enumeration value="COC" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RoofType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ARCHITECTURAL SHINGLES" />
      <xsd:enumeration value="ASBESTOS" />
      <xsd:enumeration value="ASPHALT SHINGLES" />
      <xsd:enumeration value="COMPOSITION" />
      <xsd:enumeration value="COPPER(FLAT)" />
      <xsd:enumeration value="COPPER(PITCHED)" />
      <xsd:enumeration value="CORRUGATED STEEL(FLAT)" />
      <xsd:enumeration value="CORRUGATED STEEL(PITCHED)" />
      <xsd:enumeration value="FIBERGLASS" />
      <xsd:enumeration value="FOAM" />
      <xsd:enumeration value="GRAVEL" />
      <xsd:enumeration value="METAL(FLAT)" />
      <xsd:enumeration value="METAL(PITCHED)" />
      <xsd:enumeration value="MINERAL FIBER SHAKE" />
      <xsd:enumeration value="OTHER" />
      <xsd:enumeration value="PLASTIC(FLAT)" />
      <xsd:enumeration value="PLASTIC(PITCHED)" />
      <xsd:enumeration value="ROCK" />
      <xsd:enumeration value="ROLLED PAPER(FLAT)" />
      <xsd:enumeration value="ROLLED PAPER(PITCHED)" />
      <xsd:enumeration value="RUBBER FLAT" />
      <xsd:enumeration value="RUBBER(PITCHED)" />
      <xsd:enumeration value="SLATE" />
      <xsd:enumeration value="TAR" />
      <xsd:enumeration value="TAR and GRAVEL" />
      <xsd:enumeration value="TILE(CLAY)" />
      <xsd:enumeration value="TILE(CONCRETE)" />
      <xsd:enumeration value="TILE(SPANISH)" />
      <xsd:enumeration value="TIN(FLAT)" />
      <xsd:enumeration value="TIN(PITCHED)" />
      <xsd:enumeration value="WOOD FIBERGLASS SHINGLES" />
      <xsd:enumeration value="WOOD SHAKE" />
      <xsd:enumeration value="WOOD SHINGLES" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DwellingType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="One Family" />
      <xsd:enumeration value="Two Family" />
      <xsd:enumeration value="Three Family" />
      <xsd:enumeration value="Four Family" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DistanceToBrushType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0-.5" />
      <xsd:enumeration value=".5-1" />
      <xsd:enumeration value="more than 1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DistanceToTidalWaterType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0-.5" />
      <xsd:enumeration value=".5-1" />
      <xsd:enumeration value="1-2" />
      <xsd:enumeration value="2-5" />
      <xsd:enumeration value="more than 5" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="HomeHeatingType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Electric" />	
      <xsd:enumeration value="Gas" />
	  <xsd:enumeration value="Gas - Forced Air" />
	  <xsd:enumeration value="Gas - Hot Water" />
      <xsd:enumeration value="Oil" />
	  <xsd:enumeration value="Oil - Forced Air" />
	  <xsd:enumeration value="Oil - Hot Water" />
      <xsd:enumeration value="Other" />	  
      <xsd:enumeration value="Solid Fuel" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="HomeSystemUpdateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NOT UPDATED" />
      <xsd:enumeration value="PARTIAL UPDATE" />
      <xsd:enumeration value="COMPLETE UPDATE" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RatingCreditsType">
    <xsd:sequence>
      <xsd:element name="RetireesCredit" type="BooleanType" />
      <xsd:element name="MatureDiscount" type="BooleanType" />
      <xsd:element name="RetirementCommunity" type="BooleanType" />
      <xsd:element name="LimitedAccessCommunity" type="BooleanType" />
      <xsd:element name="GatedCommunity" type="BooleanType" />
      <xsd:element name="Multipolicy" type="BooleanType"/>
      <xsd:element name="NonSmoker" type="BooleanType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="ProtectionClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
      <xsd:enumeration value="7" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="9" />
      <xsd:enumeration value="10" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="NumberOfStoriesType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="1.5" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="2.5" />
      <xsd:enumeration value="3" />
	  <xsd:enumeration value="3.5" />
	  <xsd:enumeration value="4" />
      <xsd:enumeration value="Bi-Level" />
      <xsd:enumeration value="Tri-Level" />
    </xsd:restriction>
  </xsd:simpleType>
  <!-- New field for Florida state-->
  <xsd:simpleType name="RoofShapeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Flat" />
      <xsd:enumeration value="Gable" />
      <xsd:enumeration value="Gambrel" />
      <xsd:enumeration value="Hip" />
      <xsd:enumeration value="Mansard" />
      <xsd:enumeration value="Shed" />
      <xsd:enumeration value="Butterfly" />
      <xsd:enumeration value="Other" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WindSpeedType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Not Applicable" />
      <xsd:enumeration value="100" />
      <xsd:enumeration value="110" />
      <xsd:enumeration value="Equal Greater 120" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FoundationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Basement" />
      <xsd:enumeration value="Closed" />
      <xsd:enumeration value="Concrete Slab" />
      <xsd:enumeration value="Concrete Stilts/Pilings" />
      <xsd:enumeration value="Crawlspace" />
      <xsd:enumeration value="Crawlspace/Foundations and Piers &gt; 6&apos; elevations" />
      <xsd:enumeration value="Crawlspace/Enclosed Piers up to 6&apos; elevations" />
      <xsd:enumeration value="Deep Pilings" />
      <xsd:enumeration value="Elevated Post/Pier&amp;Beam" />
      <xsd:enumeration value="Open" />
      <xsd:enumeration value="Open-Enclosed with Lattice" />
      <xsd:enumeration value="Open Foundations/Open Piers &gt; 6&apos; elevations" />
      <xsd:enumeration value="Open Foundations/Open Piers up to 6&apos; elevations" />
      <xsd:enumeration value="Pier&amp;Grade Beam" />
      <xsd:enumeration value="Pilings-Other" />
      <xsd:enumeration value="Pilings-Wood" />
      <xsd:enumeration value="Pilings/Stilts of Reinforced Masonry Construction" />
      <xsd:enumeration value="Shallow Basement" />
      <xsd:enumeration value="Slab" />
      <xsd:enumeration value="Stilts/Pilings 8&apos;-10&apos; elevations" />
      <xsd:enumeration value="Stilts/Pilings other" />
      <xsd:enumeration value="Stilts with Sweep Away Walls" />
      <xsd:enumeration value="Wood Stilts/Pilings" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="RatingInfoType">
    <xsd:sequence>
      <xsd:element name="PropertyInsCancelledLapsed" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <!-- Cancelled, lapsed, declined or non-renewed in last 5 years -->
      <xsd:element name="YearBuilt" type="xsd:gYear" />
      <xsd:element name="Dwelling" type="DwellingType" />
      <xsd:element name="DwellingUse" type="UseageType" />
      <xsd:element name="NumberOfFullTimeDomEmps" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xsd:element name="DistanceToFireHydrant" type="HydrantDistanceType" />
      <xsd:element name="WithinCityLimits" type="BooleanType" />
      <xsd:element name="WithinProtectedSuburb" type="BooleanType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="DistanceToFireStation" type="xsd:positiveInteger" />
      <xsd:element name="WithinFireDistrict" type="BooleanType" />
      <xsd:element name="ProtectionClass" type="ProtectionClassType" />
      <!-- default should be set to 1 in portal -->
      <xsd:element name="NumberOfStories" type="NumberOfStoriesType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Construction" type="ConstructionType" />
      <xsd:element name="Structure" type="StructureType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Roof" type="RoofType" />
      <xsd:element name="RoofULClass" type="RoofULClassType" minOccurs="0" maxOccurs="1" /> <!-- Only shown in TX -->
      <xsd:element name="DistanceToBrush" type="DistanceToBrushType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="DistanceToTidalWater" type="DistanceToTidalWaterType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="SwimmingPool" type="BooleanType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="SwimmingPoolFenced" type="BooleanType" />
      <!-- Shown only if Pool is Yes -->
      <xsd:element name="SwimmingPoolType" type="SwimmingPoolTypeType" minOccurs="0" maxOccurs="1" />
      <!-- Shown only if Pool is Yes -->
      <xsd:element name="DogOnPremises" type="BooleanType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="HeatingType" type="HomeHeatingType" />
      <xsd:element name="WoodBurningStove" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="NumberOfWoodBurningStoves" type="PositiveInteger20EnumType" minOccurs="0" maxOccurs="1" />
      <!-- The number of wood burning stoves is mandatory if 'WoodBurningStove' is set to yes -->
      <xsd:element name="RoofingUpdate" type="HomeSystemUpdateType" />
      <xsd:element name="RoofingUpdateYear" type="xsd:gYear" />
      <xsd:element name="ElectricalUpdate" type="HomeSystemUpdateType" />
      <xsd:element name="ElectricalUpdateYear" type="xsd:gYear" />
      <xsd:element name="PlumbingUpdate" type="HomeSystemUpdateType" />
      <xsd:element name="PlumbingUpdateYear" type="xsd:gYear" />
      <xsd:element name="HeatingUpdate" type="HomeSystemUpdateType" />
      <xsd:element name="HeatingUpdateYear" type="xsd:gYear" />
      <xsd:element name="ElectricCircuitBreaker" type="BooleanType" minOccurs="0" maxOccurs="1" /> <!-- Only shown/required for homes built before 1964 -->
      <xsd:element name="UnderConstruction" type="BooleanType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="SquareFootage" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1" />
      <xsd:element name="NumberOfApartments" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PurchaseDate" type="DateType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PurchasePrice" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Trampoline" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SecondaryHeatingSource" type="BooleanType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="SecondaryHeatingSourceType" type="SecondaryHeatingSourceTypeType" minOccurs="0" maxOccurs="1" />
      <!-- SecondaryHeatingSourceType is required if SecondaryHeatingSource is set to Yes -->
      <xsd:element name="BusinessOnPremises" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="FirstMortgagee" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <!-- Checkbox with No as default -->
      <xsd:element name="SecondMortgagee" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <!-- Checkbox with No as default -->
      <xsd:element name="ThirdMortgagee" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <!-- Checkbox with No as default -->
      <xsd:element name="EquityLineOfCredit" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <!-- Checkbox with No as default -->
      <xsd:element name="CoSigner" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <!-- Checkbox with No as default -->
      <xsd:element name="NumberOfOtherInterests" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <!-- defaulted to 0 in portal -->
	    <!-- Extended Replacement Cost Calculation Fields -->
      <xsd:element name="ReplacementCostExtended" type="ReplacementCostExtendedType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RoofShape" type="RoofShapeType" minOccurs="0" maxOccurs="1"/>
      <!-- Only shown in FL -->
      <xsd:element name="WindSpeed" type="WindSpeedType" minOccurs="0" maxOccurs="1"/>
      <!-- Only shown in FL -->
      <xsd:element name="Foundation" type="FoundationType" minOccurs="0" maxOccurs="1"/>
      <!-- Only shown in FL -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReplacementCostExtendedType" >
    <xsd:sequence>
      <xsd:element name="ShapeOfDwelling" type="ShapeOfDwellingType" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="ConstructionMethod" type="ConstructionMethodType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Foundations" type="FoundationsType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="PartitionWalls" type="PartitionWallsType" minOccurs="1" maxOccurs="3" />
      <xsd:element name="WallFinish" type="WallFinishType"  minOccurs="1" maxOccurs="3" />
      <xsd:element name="CeilingFinish" type="CeilingFinishType"  minOccurs="1" maxOccurs="3" />
      <xsd:element name="FloorFinish" type="FloorFinishType"  minOccurs="1" maxOccurs="3" />
      <xsd:element name="LandUnderFoundation" type="LandUnderFoundationType"  minOccurs="1" maxOccurs="1" />
      <xsd:element name="DetachedStructures" type="DetachedStructuresType"  minOccurs="0" maxOccurs="2" />
      <xsd:element name="Kitchens" type="KitchensType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="HeatingAndCooling" type="HeatingAndCoolingType"  minOccurs="1" maxOccurs="1" />
      <xsd:element name="GaragesAndCarports" type="GaragesAndCarportsType" minOccurs="1" maxOccurs="1"  />
      <xsd:element name="Porch" type="PorchType" minOccurs="0" maxOccurs="2" />
      <xsd:element name="RoofPitch" type="RoofPitchType" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="NumberOfRoofOverlays" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="Balconies" type="BalconiesType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="Baths" type="BathsType"  minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ShapeOfDwellingType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Very Simple (4 Corners)" />
      <xsd:enumeration value="Simple (6 Corners)" />
      <xsd:enumeration value="More Complex (8 Corners)" />
      <xsd:enumeration value="Very Complex (10 Corners)" />
    </xsd:restriction>
  </xsd:simpleType>
  
    <xsd:simpleType name="ConstructionMethodType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Site Built" />
      <xsd:enumeration value="Modular" />
      <xsd:enumeration value="Manufactured/Mobile" />
      <xsd:enumeration value="Unknown" />
    </xsd:restriction>
  </xsd:simpleType>
  
    <xsd:simpleType name="BasementTypeInfo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Daylight/Walkout" />
      <xsd:enumeration value="Below Grade" />
    </xsd:restriction>
  </xsd:simpleType>
  
    <xsd:simpleType name="BasementFinishedTypeInfo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Custom" />
      <xsd:enumeration value="Standard" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PartitionWallsType">
    <xsd:sequence>
      <xsd:element name="PartitionWallsMaterial" type="PartitionWallsMaterialType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="MaterialPercentage" type="int100Type" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="PartitionWallsMaterialType">
 <xsd:restriction base="xsd:string">
   <xsd:enumeration value="Adobe" />
   <xsd:enumeration value="Block" />
   <xsd:enumeration value="Brick and Block" />
   <xsd:enumeration value="Drywall" />
   <xsd:enumeration value="Drywall Textured" />
   <xsd:enumeration value="Glass Block" />
   <xsd:enumeration value="Plaster" />
   <xsd:enumeration value="Plaster Horsehair" />
   <xsd:enumeration value="Plaster Textured" />
   <xsd:enumeration value="Plywood Only" />
   <xsd:enumeration value="Solid Brick" />
   <xsd:enumeration value="Solid Stone" />
   <xsd:enumeration value="Stone and Block" />
   <xsd:enumeration value="Studs Only" />
 </xsd:restriction>
</xsd:simpleType>

  <xsd:complexType name="WallFinishType">
    <xsd:sequence>
      <xsd:element name="WallFinishMaterial" type="WallFinishMaterialType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="MaterialPercentage" type="int100Type" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="WallFinishMaterialType">
 <xsd:restriction base="xsd:string">
   <xsd:enumeration value="Brick" />
   <xsd:enumeration value="Cabinetry Built-in" />
   <xsd:enumeration value="Carpet" />
   <xsd:enumeration value="Millwork" />
   <xsd:enumeration value="Mirrors" />
   <xsd:enumeration value="Paint" />
   <xsd:enumeration value="Paneling, Knotty Pine" />
   <xsd:enumeration value="Paneling, Sheet" />
   <xsd:enumeration value="Paneling, Solid Wood" />
   <xsd:enumeration value="Paneling, Tongue and Groove" />
   <xsd:enumeration value="Sponge Coat" />
   <xsd:enumeration value="Stone" />
   <xsd:enumeration value="Terrazzo" />
   <xsd:enumeration value="Tile - Ceramic" />
   <xsd:enumeration value="Tile - Ceramic, Imported" />
   <xsd:enumeration value="Tile - Marble" />
   <xsd:enumeration value="Wallpaper - Foil" />
   <xsd:enumeration value="Wallpaper - Grass Cloth" />
   <xsd:enumeration value="Wallpaper - Vinyl" />
 </xsd:restriction>
</xsd:simpleType>

  <xsd:complexType name="CeilingFinishType">
    <xsd:sequence>
      <xsd:element name="CeilingFinishMaterial" type="CeilingFinishMaterialType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="MaterialPercentage" type="int100Type" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

<xsd:simpleType name="CeilingFinishMaterialType">
 <xsd:restriction base="xsd:string">
   <xsd:enumeration value="Drywall" />
   <xsd:enumeration value="Drywall - Textured" />
   <xsd:enumeration value="Marble" />
   <xsd:enumeration value="Metal" />
   <xsd:enumeration value="Millwork" />
   <xsd:enumeration value="Mirrors" />   
   <xsd:enumeration value="Plaster" />
   <xsd:enumeration value="Plaster, Textured" />
   <xsd:enumeration value="Recessed Lighting" />
   <xsd:enumeration value="Tile Acoustical" />
   <xsd:enumeration value="Tin" />
   <xsd:enumeration value="Tongue And Grove" />
   <xsd:enumeration value="Wood" />
 </xsd:restriction>
</xsd:simpleType>

  <xsd:complexType name="FloorFinishType">
    <xsd:sequence>
      <xsd:element name="FloorFinishMaterial" type="FloorFinishMaterialType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="MaterialPercentage" type="int100Type" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>  
  
<xsd:simpleType name="FloorFinishMaterialType">
<xsd:restriction base="xsd:string">
  <xsd:enumeration value="Brick" />
  <xsd:enumeration value="Carpet over Hardwood - Acrylic/Nylon" />
  <xsd:enumeration value="Carpet over Hardwood - Wool/Berber" />
  <xsd:enumeration value="Carpet - Acrylic/Nylon" />
  <xsd:enumeration value="Carpet - Wool/Berber" />
  <xsd:enumeration value="Concrete, Stamped/Textured" />
  <xsd:enumeration value="Flagstone" />
  <xsd:enumeration value="Granite" />
  <xsd:enumeration value="Hardwood" />
  <xsd:enumeration value="Laminated Wood Flooring" />
  <xsd:enumeration value="Parquet" />
  <xsd:enumeration value="Plank" />
  <xsd:enumeration value="Rubber" />
  <xsd:enumeration value="Slate" />
  <xsd:enumeration value="Stone" />
  <xsd:enumeration value="Tile - Ceramic" />
  <xsd:enumeration value="Tile - Ceramic, Imported" />
  <xsd:enumeration value="Tile - Marble" />
  <xsd:enumeration value="Tile - Terrazzo" />  
  <xsd:enumeration value="Vinyl" />
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="LandUnderFoundationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Flat to Slight Slope" />
      <xsd:enumeration value="Moderate Slope" />
      <xsd:enumeration value="Steep Slope" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DetachedStructuresType">
    <xsd:sequence>
      <xsd:element name="DetachedStructure" type="DetachedStructuresTypeType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Number" type="int20EnumType" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="DetachedStructuresTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Hot Tub/Jacuzzi" />
      <xsd:enumeration value="Shed, Small" />
      <xsd:enumeration value="Shed, Medium" />
      <xsd:enumeration value="Shed, Large" />
    </xsd:restriction>
  </xsd:simpleType>

<xsd:complexType name="FoundationsType">
 <xsd:sequence>
   <xsd:element name="Slab" type="int100Type" minOccurs="0" maxOccurs="1" />
   <xsd:element name="CrawlSpace" type="int100Type" minOccurs="0" maxOccurs="1" />
   <xsd:element name="Basement" type="int100Type" minOccurs="0" maxOccurs="1" />	
   <xsd:element name="PiersOrPile" type="int100Type" minOccurs="0" maxOccurs="1" />	  
   <xsd:element name="SuspendedOverHillside" type="int100Type" minOccurs="0" maxOccurs="1" />	       
   <xsd:element name="BasementInformation" type="BasementInformationType" minOccurs="0" maxOccurs="1"  />
 </xsd:sequence>
</xsd:complexType>

 <xsd:complexType name="BasementInformationType">
 <xsd:sequence>
   <xsd:element name="BasementType" type="BasementTypeInfo" minOccurs="0" maxOccurs="1" />
   <xsd:element name="BasementFinished" type="int100Type" minOccurs="0" maxOccurs="1" />
   <xsd:element name="BasementFinishedType" type="BasementFinishedTypeInfo" minOccurs="0" maxOccurs="1" />	  
 </xsd:sequence>
</xsd:complexType>

 <xsd:complexType name="KitchensType">
 <xsd:sequence>
   <xsd:element name="Basic" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="BuildersGrade" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="SemiCustom" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="Custom" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="Designer" type="int20EnumType" minOccurs="0" maxOccurs="1" />	  	  	  
 </xsd:sequence>
</xsd:complexType>  

 <xsd:complexType name="BathsType">
 <xsd:sequence>
   <xsd:element name="FullBaths" type="BathsTypeInfo" minOccurs="1" maxOccurs="1" />
   <xsd:element name="HalfBaths" type="BathsTypeInfo" minOccurs="0" maxOccurs="1" />
   <xsd:element name="ThreeQuarterBaths" type="BathsTypeInfo" minOccurs="0" maxOccurs="1" />
 </xsd:sequence>
</xsd:complexType>

 <xsd:complexType name="BathsTypeInfo">
 <xsd:sequence>
   <xsd:element name="Basic" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="BuildersGrade" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="SemiCustom" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="Custom" type="int20EnumType" minOccurs="0" maxOccurs="1" />
   <xsd:element name="Designer" type="int20EnumType" minOccurs="0" maxOccurs="1" />	  	  	  
 </xsd:sequence>
</xsd:complexType>

 <xsd:complexType name="HeatingAndCoolingType">
 <xsd:sequence>
   <xsd:element name="AirConditioning" type="AirConditioningType" minOccurs="1" maxOccurs="1" />
   <xsd:element name="FirePlace" type="FirePlaceType" minOccurs="1" maxOccurs="1" />
 </xsd:sequence>
</xsd:complexType>

  <xsd:complexType name="FirePlaceType">
    <xsd:sequence>
  <xsd:element name="FirePlace" type="FirePlaceTypeType" minOccurs="1" maxOccurs="1" />
  <xsd:element name="NumberOfFirePlaces" type="PositiveInteger20EnumType" minOccurs="0" maxOccurs="1" />
      <!-- Number of Fire Places is required anytime the 'FirePlace' answer is not equal to 'None'-->
    </xsd:sequence>
  </xsd:complexType>
  
<xsd:simpleType name="AirConditioningType">
<xsd:restriction base="xsd:string">
  <xsd:enumeration value="Whole House Fan" />
  <xsd:enumeration value="Evaporative Cooler" />
  <xsd:enumeration value="Central AC - Same Ducts" />
  <xsd:enumeration value="Central AC - Separate Ducts" />
  <xsd:enumeration value="None" />
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="FirePlaceTypeType">
<xsd:restriction base="xsd:string">
  <xsd:enumeration value="Direct" />
  <xsd:enumeration value="Zero Clearence, Pre-Fab" />
  <xsd:enumeration value="Single" />
  <xsd:enumeration value="Double" />
  <xsd:enumeration value="Triple" />
  <xsd:enumeration value="Gas" />
  <xsd:enumeration value="None" />
</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="GaragesAndCarportsType">
<xsd:sequence>
<xsd:element name="GaragesAndCarports" type="GaragesAndCarportsTypeInfo" minOccurs="1" maxOccurs="1" />
<xsd:element name="NumberOfCars" type="PositiveInteger20EnumType" minOccurs="0" maxOccurs="1" />
  <!-- Number of Cars is required anytime the 'GaragesAndCarports' answer is not equal to 'None'-->
</xsd:sequence>
</xsd:complexType>  

<xsd:simpleType name="GaragesAndCarportsTypeInfo">
<xsd:restriction base="xsd:string">
  <xsd:enumeration value="Attached Garage" />
  <xsd:enumeration value="Detached Garage" />
  <xsd:enumeration value="Built - In Garage" />
  <xsd:enumeration value="Basement Garage" />
  <xsd:enumeration value="Carport" />
  <xsd:enumeration value="None" />
</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="RoofPitchType">
<xsd:restriction base="xsd:string">
  <xsd:enumeration value="Flat" />
  <xsd:enumeration value="Moderate" />
  <xsd:enumeration value="Slight" />
  <xsd:enumeration value="Steep" />
</xsd:restriction>
</xsd:simpleType>

<xsd:complexType name="BalconiesType">
<xsd:sequence>
<xsd:element name="NumberOfBalconies" type="int20EnumType" minOccurs="0" maxOccurs="1" />
<xsd:element name="SquareFootageOfBalconies" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1" />
  <!-- SquareFootageOfBalconies is required anytime NumberOfBalconies is > 0 -->
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="PorchType">
<xsd:sequence>
<xsd:element name="PorchType" type="PorchTypeInfo" minOccurs="0" maxOccurs="1" />
<xsd:element name="PorchSquareFootage" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1" />
  <!-- PorchSquareFootage is required anytime PorchType is answered -->
</xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="PorchTypeInfo">
<xsd:restriction base="xsd:string">

  <xsd:enumeration value="Enclosed Breezeways" />
  <xsd:enumeration value="Enclosed Porch" />
  <xsd:enumeration value="Open Breezeways" />
  <xsd:enumeration value="Open Porch" />  
  <xsd:enumeration value="Redwood Deck" />
  <xsd:enumeration value="Screened Breezeways" />
  <xsd:enumeration value="Screened Porch" />
  <xsd:enumeration value="Wood Deck" />
</xsd:restriction>
</xsd:simpleType>

  <xsd:simpleType name="SwimmingPoolTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Above Ground with Slide" />
      <xsd:enumeration value="Above Ground without Slide" />
      <xsd:enumeration value="In Ground with Slide" />
      <xsd:enumeration value="In Ground without Slide" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RoofULClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Class 1" />
      <xsd:enumeration value="Class 2" />
      <xsd:enumeration value="Class 3" />
      <xsd:enumeration value="Class 4" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SecondaryHeatingSourceTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Coal Non-Professionally Installed" />
      <xsd:enumeration value="Coal Professionally Installed" />
      <xsd:enumeration value="Electric Portable Heater" />
      <xsd:enumeration value="Electric" />
      <xsd:enumeration value="Kerosene Portable Heater" />
      <xsd:enumeration value="Kerosene" />
      <xsd:enumeration value="Liquid Propane Portable Heater" />
      <xsd:enumeration value="Liquid Propane" />
      <xsd:enumeration value="Natural Gas" />
      <xsd:enumeration value="Oil" />
      <xsd:enumeration value="Other" />
      <xsd:enumeration value="Solar Non-Professionally Installed" />
      <xsd:enumeration value="Solar Professionally Installed" />
      <xsd:enumeration value="Wood Non-Professionally Installed" />
      <xsd:enumeration value="Wood Professionally Installed" />      
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PersonalLiabilityType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="25000" />
      <xsd:enumeration value="50000" />
      <xsd:enumeration value="100000" />
      <xsd:enumeration value="200000" />
      <xsd:enumeration value="300000" />
      <xsd:enumeration value="400000" />
      <xsd:enumeration value="500000" />
      <xsd:enumeration value="1000000" /><!-- Only shown in IN,NY -->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MedicalPaymentsType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1000" />
      <xsd:enumeration value="2000" />
      <xsd:enumeration value="3000" />
      <xsd:enumeration value="4000" />
      <xsd:enumeration value="5000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DeductibeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1/2%" />
      <xsd:enumeration value="1%" />
      <xsd:enumeration value="100" />
      <xsd:enumeration value="250" />
      <xsd:enumeration value="500" />
      <xsd:enumeration value="750" />
      <xsd:enumeration value="1000" />
      <xsd:enumeration value="1500" />
      <!-- 1500 option shown in AL,IL only -->
      <xsd:enumeration value="2000" />
      <xsd:enumeration value="2500" />
      <xsd:enumeration value="3000" />
      <xsd:enumeration value="4000" />
      <xsd:enumeration value="5000" />
      <xsd:enumeration value="10000" />
      <!-- 10000 option shown in IL only -->
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="WindDeductibleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="100" />
      <xsd:enumeration value="250" />
      <xsd:enumeration value="500" />
      <xsd:enumeration value="1000" />
      <xsd:enumeration value="1500" />
      <!-- 1500 option shown in IL,KS,MN,OH only -->
      <xsd:enumeration value="2000" />
      <!-- 2000 option shown in IL,KS,MN,OH,OK only -->
      <xsd:enumeration value="2500" />
      <!-- 2500 option shown in IL,KS,MN,OH only -->
      <xsd:enumeration value="5000" />
      <!-- 5000 option shown in IL,KS,MN,OH,OK only -->
      <xsd:enumeration value="10000" />
      <!-- 10000 option shown in IL,KS,MN,OH only -->
      <xsd:enumeration value="1%" />
      <xsd:enumeration value="2%" />
      <xsd:enumeration value="3%" />
      <xsd:enumeration value="4%" />
      <xsd:enumeration value="5%" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="HurricaneDeductibleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="500" />
      <xsd:enumeration value="1000" />
      <xsd:enumeration value="2500" />
      <xsd:enumeration value="2%" />
      <xsd:enumeration value="3%" />
      <xsd:enumeration value="4%" />
      <xsd:enumeration value="5%" />
      <xsd:enumeration value="10%" />
      <xsd:enumeration value="Exclude Wind" />
      <xsd:enumeration value="Excluded" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TheftDeductibleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="500" />
      <xsd:enumeration value="1500" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DeductibeInfoType">
    <xsd:sequence>
      <xsd:element name="Deductible" type="DeductibeType" />
      <xsd:element name="TheftDeductible" type="TheftDeductibleType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="WindDeductible" type="WindDeductibleType" minOccurs="0" maxOccurs="1" />
      <!-- disabled for HO4, HO6 -->
      <xsd:element name="HurricaneDeductible" type="HurricaneDeductibleType" minOccurs="0" maxOccurs="1"/>
      <!-- Shown only in FL -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReplacementCostType">
    <xsd:sequence>
      <xsd:element name="ReplacementCost" type="xsd:nonNegativeInteger" />
      <xsd:element name="Dwelling" type="xsd:nonNegativeInteger" />
      <xsd:element name="OtherStructures" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="LossOfUse" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PersonalProperty" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PersonalLiability" type="PersonalLiabilityType" />
      <xsd:element name="MedicalPayments" type="MedicalPaymentsType" />
      <xsd:element name="NumberOfFamilies" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xsd:element name="DeductibeInfo" type="DeductibeInfoType" />
      <xsd:element name="RatingCredits" type="RatingCreditsType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="LossDescriptionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ALL OTHER" />
      <xsd:enumeration value="CONTAMINATION" />
      <xsd:enumeration value="CREDIT CARD" />
      <xsd:enumeration value="DAMAGE TO PROPERTY OF OTHERS" />
      <xsd:enumeration value="DOG BITE (LIABILITY)" />
      <xsd:enumeration value="EARTH MOVEMENT" />
      <xsd:enumeration value="EARTHQUAKE" />
      <xsd:enumeration value="EXTENDED COVERAGE PERILS" />
      <xsd:enumeration value="FIRE" />
      <xsd:enumeration value="FLOOD" />
      <xsd:enumeration value="FREEZING WATER (INCLUDING BURST PIPES)" />
      <xsd:enumeration value="HAIL" />
      <xsd:enumeration value="LIABILITY (ALL OTHER)" />
      <xsd:enumeration value="LIGHTNING" />
      <xsd:enumeration value="MEDICAL PAYMENTS" />
      <xsd:enumeration value="MYSTERIOUS DISAPPEARANCE" />
      <xsd:enumeration value="MYSTERIOUS DISAPPEARANCE - SCHEDULED PROPERTY" />
      <xsd:enumeration value="PHYSICAL DAMAGE (ALL OTHER)" />
      <xsd:enumeration value="SLIP/FALL (LIABILITY)" />
      <xsd:enumeration value="SMOKE" />
      <xsd:enumeration value="THEFT SCHEDULED PROPERTY" />
      <xsd:enumeration value="THEFT/BURGLARY" />
      <xsd:enumeration value="VANDALISM/MALICIOUS MISCHIEF" />
      <xsd:enumeration value="WATER DAMAGE" />
      <xsd:enumeration value="WATERCRAFT" />
      <xsd:enumeration value="WIND" />
      <xsd:enumeration value="WORKER'S COMPENSATION" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="CreditCardLimitType">
    <xsd:sequence>
      <xsd:element name="CreditCardLimit" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Amount" type="CreditCardLimitAmountType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="CreditCardLimitAmountType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1,000" />
      <xsd:enumeration value="2,500" />
      <xsd:enumeration value="5,000" />
      <xsd:enumeration value="7,500" />
      <xsd:enumeration value="10,000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OrdianceOrLawType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="25%" />
      <xsd:enumeration value="50%" />
      <xsd:enumeration value="75%" />
      <xsd:enumeration value="100%" />
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:simpleType name="SprinklerType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Partial"/>
      <xsd:enumeration value="Full"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="BaseProtectionDeviceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Central"/>
      <xsd:enumeration value="Direct"/>
      <xsd:enumeration value="Local"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="SmokeDetectorType">
    <xsd:sequence>
      <xsd:element name="BaseProtectionDevice" type="BaseProtectionDeviceType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FireExtinguisher" type="BooleanType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="BurglarAlarmType">
    <xsd:sequence>
      <xsd:element name="BaseProtectionDevice" type="BaseProtectionDeviceType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="DeadBolt" type="BooleanType"/>
      <xsd:element name="VisibleToNeighbor" type="BooleanType"/>
      <xsd:element name="MannedSecurity" type="BooleanType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProtectiveDevicesType">
    <xsd:sequence>
      <xsd:element name="SmokeDetector" type="SmokeDetectorType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Fire" type="BaseProtectionDeviceType"  minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TemperatureControl" type="BaseProtectionDeviceType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="BurglarAlarm" type="BurglarAlarmType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Sprinkler" type="SprinklerType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="IdentityTheftType">
    <xsd:sequence>
      <xsd:element name="IdentityTheft" type="BooleanType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="MoldPropertyDamageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="25000" />
      <xsd:enumeration value="50000" />
      <xsd:enumeration value="75000" />
      <xsd:enumeration value="100000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="IncreasedMoldType">
    <xsd:sequence>
      <xsd:element name="IncreasedMold" type="BooleanType"/>
      <xsd:element name="PropertyDamage" type="MoldPropertyDamageType"/>
      <xsd:element name="IncreaseLiability" type="BooleanType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="LossAssessmentAmountType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="5000" />
      <xsd:enumeration value="10000" />
      <xsd:enumeration value="25000" />
      <xsd:enumeration value="50000" />
      <xsd:enumeration value="75000" />
      <xsd:enumeration value="100000" />
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:complexType name="LossAssessmentType">
    <xsd:sequence>
      <xsd:element name="LossAssessment" type="BooleanType"/>
      <xsd:element name="Amount" type="LossAssessmentAmountType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="OrdinanceOrLawPercentIncreaseType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="25" />
      <xsd:enumeration value="50" />
      <xsd:enumeration value="75" />
      <xsd:enumeration value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="OrdinanceOrLawType">
    <xsd:sequence>
      <xsd:element name="OrdinanceOrLaw" type="BooleanType"/>
      <xsd:element name="Percent" type="OrdinanceOrLawPercentIncreaseType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PersonalInjuryType">
    <xsd:sequence>
      <xsd:element name="PersonalInjury" type="BooleanType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ScheduledPersonalPropertyTypeType">
    <xsd:sequence>
      <xsd:element name="Amount" type="xsd:nonNegativeInteger"/>
      <xsd:element name="Breakage" type="BooleanType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ScheduledPersonalPropertyType">
    <xsd:sequence>
      <xsd:element name="ScheduledPersonalProperty" type="BooleanType"/>
      <xsd:element name="Coins" type="ScheduledPersonalPropertyTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Furs" type="ScheduledPersonalPropertyTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="FineArts" type="ScheduledPersonalPropertyTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Guns" type="ScheduledPersonalPropertyTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Jewelry" type="ScheduledPersonalPropertyTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Music" type="ScheduledPersonalPropertyTypeType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Silverware" type="ScheduledPersonalPropertyTypeType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="WaterBackupAmountType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Full" />
	  <!-- Full option shown in MD only -->
      <xsd:enumeration value="1000" />
      <xsd:enumeration value="2000" />
      <xsd:enumeration value="3000" />
      <xsd:enumeration value="4000" />
      <xsd:enumeration value="5000" />
      <xsd:enumeration value="6000" />
      <xsd:enumeration value="7000" />
      <xsd:enumeration value="8000" />
      <xsd:enumeration value="9000" />
      <xsd:enumeration value="10000" />
      <xsd:enumeration value="15000" />
      <xsd:enumeration value="20000" />
      <xsd:enumeration value="25000" />
      <xsd:enumeration value="50000" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="WaterBackupType">
    <xsd:sequence>
      <xsd:element name="WaterBackup" type="BooleanType"/>
      <xsd:element name="Amount" type="WaterBackupAmountType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ReplacementCostDwellingType">
    <xsd:sequence>
      <xsd:element name="ReplacementCostDwelling" type="BooleanType"/>
      <xsd:element name="Amount" type="xsd:nonNegativeInteger"/> <!-- Not shown in UI, always sends as '0' when RCD is set to Yes -->
      <xsd:element name="ReplacementCostDwellingPercentage" type="ReplacementCostDwellingPercentageType" minOccurs="0" maxOccurs="1"/> <!-- Required when ReplacementCostDwelling is set to Yes -->
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="ReplacementCostDwellingPercentageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="25" />
      <xsd:enumeration value="50" />
      <xsd:enumeration value="100" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="ReplacementCostContentType">
    <xsd:sequence>
      <xsd:element name="ReplacementCostContent" type="BooleanType"/>
      <xsd:element name="Amount" type="xsd:nonNegativeInteger"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="EarthquakeZoneType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" />
      <xsd:enumeration value="2" />
      <xsd:enumeration value="3" />
      <xsd:enumeration value="4" />
      <xsd:enumeration value="5" />
      <xsd:enumeration value="6" />
      <xsd:enumeration value="7" />
      <xsd:enumeration value="8" />
      <xsd:enumeration value="9" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EarthquakeDeductibleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="5%" />
      <xsd:enumeration value="10%" />
      <xsd:enumeration value="15%" />
      <xsd:enumeration value="20%" />
      <xsd:enumeration value="25%" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="EarthquakeTypeType">
    <xsd:sequence>
      <xsd:element name="Zone" type="EarthquakeZoneType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ExcludeMasonryVeneer" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Deductible" type="EarthquakeDeductibleType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="PercentVeneer" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
      <!-- default to zero if nothing is entered -->
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="EarthquakeType">
    <xsd:sequence>
      <xsd:element name="Earthquake" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Coverage" type="EarthquakeTypeType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="JewelryWatchesFursType">
    <xsd:sequence>
      <xsd:element name="JewelryWatchesFurs" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Amount" type="JewelryWatchesFursAmountType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="JewelryWatchesFursAmountType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="2500" />
      <xsd:enumeration value="3000" />
      <xsd:enumeration value="4000" />
      <xsd:enumeration value="5000" />
    </xsd:restriction>
  </xsd:simpleType>
  
   <xsd:simpleType name="BusinessClassType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Accounting/Bookkeeping/Tax Preparer" />
      <xsd:enumeration value="Adult Care/Child Care/Daycare" />
      <xsd:enumeration value="Animal Boarding/Grooming/Breeding/Riding/Veterinarian" />
      <xsd:enumeration value="Attorney" />
      <xsd:enumeration value="Auto/Vehicle Repair" />
      <xsd:enumeration value="Clerical" />
      <xsd:enumeration value="Consultant" />
	  <xsd:enumeration value="Contractor/Artisan/Landscaper" />
	  <xsd:enumeration value="Electronic/Machine Repair" />
	  <xsd:enumeration value="Farming/Ranching" />
	  <xsd:enumeration value="Financial Planner/Insurance Agent" />
	  <xsd:enumeration value="Food Service" />
	  <xsd:enumeration value="Hair Stylist/Beautician/Nail Salon" />
	  <xsd:enumeration value="Massage Therapist" />
	  <xsd:enumeration value="Photographer" />
	  <xsd:enumeration value="Physician/Dentist/Ophthalmologist/Optometrist" />
	  <xsd:enumeration value="Real Estate Agent/Appraiser" />
	  <xsd:enumeration value="Sales w/Demo" />
	  <xsd:enumeration value="Sales No Demo" />
	  <xsd:enumeration value="Teacher - Athletic" />
	  <xsd:enumeration value="Teacher - Other" />
	  <xsd:enumeration value="Other" />
    </xsd:restriction>
  </xsd:simpleType>
  
   <xsd:complexType name="BusinessPursuitsTypeType">
    <xsd:sequence>
      <xsd:element name="Name" type="C-50_NoBlank" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="IsBusinessIncidental" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Class" type="BusinessClassType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="BusinessPursuitsType">
    <xsd:sequence>
      <xsd:element name="BusinessPursuits" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="BusinessInformation" type="BusinessPursuitsTypeType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- AL Specific Endorsements -->
  <xsd:complexType name="AL-StateSpecific">
    <xsd:sequence>
      <xsd:element name="WindHailExclusion" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of AL Endorsements -->

  <!-- GA Specific Endorsements -->
  <xsd:complexType name="GA-StateSpecific">
    <xsd:sequence>
      <xsd:element name="WindHailExclusion" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of GA Endorsements -->

  <!-- IL Specific Endorsements -->
  <xsd:complexType name="IL-StateSpecific">
    <xsd:sequence>
      <xsd:element name="MineSubsidence" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of IL Endorsements -->

  <!-- IN Specific Endorsements -->
  <xsd:complexType name="IN-StateSpecific">
    <xsd:sequence>
      <xsd:element name="MineSubsidence" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of IN Endorsements -->

  <!-- KY Specific Endorsements -->
  <xsd:complexType name="KY-StateSpecific">
    <xsd:sequence>
      <xsd:element name="MineSubsidence" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of KY Endorsements -->

  <!-- NC Specific Endorsements -->
  <xsd:complexType name="NC-StateSpecific">
    <xsd:sequence>
      <xsd:element name="WindHailExclusion" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of NC Endorsements -->

  <!-- NV Specific Endorsements -->
  <xsd:complexType name="NV-StateSpecific">
    <xsd:sequence>
      <xsd:element name="WindHailExclusion" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of NV Endorsements -->

  <!-- NY Specific Endorsements -->
  <xsd:complexType name="NY-StateSpecific">
    <xsd:sequence>
      <xsd:element name="OffPremTheftExcl" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PermittedIncidentalBusinessOcc" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of NY Endorsements -->

  <!-- OH Specific Endorsements -->
  <xsd:complexType name="OH-StateSpecific">
    <xsd:sequence>
      <xsd:element name="MineSubsidence" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of OH Endorsements -->

  <!-- PA Specific Endorsements -->
  <xsd:complexType name="PA-StateSpecific">
    <xsd:sequence>
      <xsd:element name="SinkholeCollapse" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of PA Endorsements -->

  <!-- TX Specific Endorsements -->
  <xsd:complexType name="TX-StateSpecific">
    <xsd:sequence>
      <xsd:element name="ResidenceGlass" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WindHailExclusion" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="FoundationCoverage" type="TX-FoundationCoverageType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="WaterDamage" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TX-FoundationCoverageType">
    <xsd:sequence>
      <xsd:element name="FoundationCoverage" type="BooleanType" minOccurs="1" maxOccurs="1"/>
      <!-- Will always be Yes if they select Foundation Coverage -->
      <xsd:element name="ExistingFoundation" type="BooleanType" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of TX Endorsements -->

  <!-- TN Specific Endorsements -->
  <xsd:complexType name="TN-StateSpecific">
    <xsd:sequence>
      <xsd:element name="SinkholeCollapse" type="BooleanType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SinkholeCollapseAmount" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"/> <!-- shown only when SinkholeCollapse is set to Yes -->
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of TN Endorsements -->

  <!-- WV Specific Endorsements -->
  <xsd:complexType name="WV-StateSpecific">
    <xsd:sequence>
      <xsd:element name="MineSubsidence" type="BooleanType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- End of WV Endorsements -->

  <xsd:complexType name="StateSpecificEndorsementsType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element type="AL-StateSpecific" name="AL-Endorsements" />
        <xsd:element type="GA-StateSpecific" name="GA-Endorsements" />
        <xsd:element type="IL-StateSpecific" name="IL-Endorsements" />
        <xsd:element type="IN-StateSpecific" name="IN-Endorsements" />
        <xsd:element type="KY-StateSpecific" name="KY-Endorsements" />
        <xsd:element type="NC-StateSpecific" name="NC-Endorsements" />
        <xsd:element type="NV-StateSpecific" name="NV-Endorsements" />
        <xsd:element type="NY-StateSpecific" name="NY-Endorsements" />
        <xsd:element type="OH-StateSpecific" name="OH-Endorsements" />
        <xsd:element type="PA-StateSpecific" name="PA-Endorsements" />
        <xsd:element type="TN-StateSpecific" name="TN-Endorsements" />
        <xsd:element type="TX-StateSpecific" name="TX-Endorsements" />
        <xsd:element type="WV-StateSpecific" name="WV-Endorsements" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="EndorsementsType">
    <xsd:sequence>
      <xsd:element name="BuildingAddAlt" type="BooleanType" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="BuildingAddAltAmount" type="xsd:positiveInteger" minOccurs="0" maxOccurs="1"  /> <!-- required when BAA is set to yes-->
      <xsd:element name="BusinessPursuits" type="BusinessPursuitsType" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="CreditCardLimit" type="CreditCardLimitType" minOccurs="0" maxOccurs="1" />
      <!-- label should read 'Increased Coverage on Credit Card' -->
      <xsd:element name="Earthquake" type="EarthquakeType" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="IdentityTheft" type="IdentityTheftType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="IncreasedMold" type="IncreasedMoldType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="LossAssessment" type="LossAssessmentType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="OrdinanceOrLaw" type="OrdinanceOrLawType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="ProtectiveDevices" type="ProtectiveDevicesType" minOccurs="0" maxOccurs="1" />
      <xsd:element name="PersonalInjury" type="PersonalInjuryType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="ScheduledPersonalProperty" type="ScheduledPersonalPropertyType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="ReplacementCostDwelling" type="ReplacementCostDwellingType" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="ReplacementCostContent" type="ReplacementCostContentType" minOccurs="0" maxOccurs="1"  />
      <xsd:element name="IncreasedJewelryWatchesFurs" type="JewelryWatchesFursType" minOccurs="0" maxOccurs="1"  />
      <!-- label should read 'Increased Limit On Jewelry, Watches, & Furs'  -->
      <xsd:element name="WaterBackup" type="WaterBackupType"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="StateSpecificEndorsements" type="StateSpecificEndorsementsType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LossInfoType">
    <xsd:sequence>
      <xsd:element name="DateOfIncident" type="DateType" />
      <xsd:element name="Description" type="LossDescriptionType" />
      <xsd:element name="Amount" type="xsd:decimal" />
      <xsd:element name="CATLoss" type="BooleanType" />
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:positiveInteger" />
  </xsd:complexType>

  <xsd:complexType name="AltDwellingType">
    <xsd:sequence>
      <xsd:element name="Address" type="SimpleAddressType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GeneralInfoType">
    <xsd:sequence>
      <xsd:element name="RatingStateCode" type="StateCodeType" minOccurs="1" maxOccurs="1" />
      <xsd:element name="Comments" type="xsd:string" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NVPair">
    <xsd:sequence>
      <xsd:element name="value" type="xsd:string"></xsd:element>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
  </xsd:complexType>
  <xsd:complexType name="ExtendedInfoType">
    <xsd:sequence>
      <xsd:element name="valuepair" type="NVPair" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"></xsd:attribute>
    <xsd:attribute name="typename" type="xsd:string" use="optional"></xsd:attribute>
  </xsd:complexType>

  <xsd:element name="EZHOME">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Applicant" type="ApplicantType" minOccurs="1" maxOccurs="2" />
        <xsd:element name="AltDwelling" type="AltDwellingType" minOccurs="0" maxOccurs="1" />
        <xsd:element name="PriorPolicyInfo" type="PriorPolicyInfoType" minOccurs="1" maxOccurs="1" />
        <xsd:element name="PolicyInfo" type="PolicyInfoType" minOccurs="1" maxOccurs="1" />
        <xsd:element name="RatingInfo" type="RatingInfoType" minOccurs="1" maxOccurs="1" />
        <xsd:element name="ReplacementCost" type="ReplacementCostType" minOccurs="1" maxOccurs="1" />
        <xsd:element name="Endorsements" type="EndorsementsType" minOccurs="1" maxOccurs="1" />
        <xsd:element name="LossInfo" type="LossInfoType" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="GeneralInfo" type="GeneralInfoType" minOccurs="0" maxOccurs="1" />
        <xsd:element name="ExtendedInfo" type="ExtendedInfoType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>